/**
 * 这里是uni-app内置的常用样式变量
 */

/* 颜色 */
$uni-color-color:#2898ed;
$uni-color-hover:#35a2f5;
$uni-price-color:red;
$uni-zhemu-color:rgba(0, 0, 0, 0.4);//遮罩

/* 文字尺寸 */
$uni-span-font:18rpx;
$uni-text-font:24rpx;
$uni-name-font:28rpx;
$uni-title-font:32rpx;
$uni-theme-font:36rpx;